body {
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

/* Header */

#header-logo {
  width: 175px;
  height: 175px;
}

#header-logo-wrapper {
  text-align: right;
}

#header-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  padding: 45px 15px 45px 15px;
  text-align: center;
}

#header-motto {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 57px 0 57px 0;
  text-align: center;
}

.text-lang {
  color: #000;
}

.text-bottom {
  vertical-align: bottom;
}

/* Navbar */

.navbar, .navbar-nav > li > .dropdown-menu {
  font-family: 'Roboto Slab', serif;
  background: -webkit-linear-gradient(#F0FFF0, #F5FFFA); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F0FFF0, #F5FFFA); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F0FFF0, #F5FFFA); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F0FFF0, #F5FFFA); /* Standard syntax (must be last) */
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > a, .navbar-default .navbar-nav > a:focus, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: transparent;
}

.navbar-nav > li > .dropdown-menu > li > a {
  color: #555;
}

.navbar-nav > li > .dropdown-menu > li > a:hover {
  background: transparent;
  color: #000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  font-weight: bold;
}

.shadow-custom {
  box-shadow: 3px 3px 5px #888888;
}

.navbar-separator {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Text Align */

.text-align-left {
  float: left;
}

.text-align-center {
  float: center;
}

.text-align-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* List */

ul.no-style {
  list-style: none;
  padding: 0;
}

ul.second-li {
  padding-left: 17px;
}

/* Carousel */

.carousel-inner > .item > img {
    margin: 0 auto;
    width: 1200px;
    height: 350px;
}

.carousel-caption {
  background-color: rgba(45,45,45,0.8);
  border-radius: 10px;
}

.carousel-caption > a {
  color: #cffcff;
}

.title-and-date-caption {
  display: inline;
  font-weight: bold;
}

.title-and-date-caption:after {
  content: '\a';
  white-space: pre;
}

/* Container */

.container {}

/* Content */

.margin-top-15 {
  margin-top: 15px;
}

#content {
  padding-bottom: 20px;
}

.col-md-3.box-custom {
  border: solid 1px #555;
}

.badge.badge-custom {
  float:right;
}

/* Calendar Box Event */

.main-box {
  border: solid 1px #000;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.date-box-month {
  border-bottom: solid 1px #000;
  background-color: #294052;
  color: #FFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.date-box-day {
  font-size: 30px;
  padding-top: 9px;
  color: #7F5417;
}

.date-box-month, .date-box-day {
  text-align: center;
}

.date-box-day, .date-box-month, .event-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.event-title:after {
  content: '\a\a';
  white-space: pre;
}

.event-description {
  font-size: 11px;
}

/* Footer */

.footer-custom {
  border-top: 2px solid;
  width:100%;
  height:20px;
  position:absolute;
  bottom:0;
  left:0;
}

.footer-title {
  display:inline;
  font-size: 12px;
  font-weight: bold;
}

.footer-title:after {
  content: "\a";
  white-space: pre;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

/* Clear float */

.float-clear {
  clear: both;
}

/* Panel Body */

.panel-default > .panel-heading {
  background-color: #097054;
  color: #FFF;
}

.sidebar-custom .panel-default > .panel-heading {
  background-color: #593E1A;
  color: #FFF;
}

.panel-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.sidebar-custom {
  font-family: 'Roboto Slab', serif;
  height: 928px;
}

.data-pulih {
  height: 416px;
}

.kontak-pulih {
  height: 338px;
}

.panel-custom-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: -webkit-linear-gradient(#F5FFFA, #FFF5EE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F5FFFA, #FFF5EE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F5FFFA, #FFF5EE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F5FFFA, #FFF5EE); /* Standard syntax (must be last) */
}

.panel-custom-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: -webkit-linear-gradient(#FFF5EE, #F5F5DC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF5EE, #F5F5DC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF5EE, #F5F5DC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF5EE, #F5F5DC); /* Standard syntax (must be last) */
}