body {
  height: 100%;
  padding-top: 20px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

/* Header */

#header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  border-radius: 50px;
  border: solid 1px #000;
  opacity: 0.8;
}

#header-logo {
  width: 175px;
  height: 175px;
}

.text-lang {
  color: #000;
}

.text-bottom {
  vertical-align: bottom;
}

/* Navbar */

.navbar, .navbar-nav > li > .dropdown-menu {
  font-family: 'Roboto Slab', serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: -webkit-linear-gradient(#F0FFF0, #F5FFFA); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F0FFF0, #F5FFFA); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F0FFF0, #F5FFFA); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F0FFF0, #F5FFFA); /* Standard syntax (must be last) */
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > a, .navbar-default .navbar-nav > a:focus, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: transparent;
}

.navbar-nav > li > .dropdown-menu > li > a {
  color: #555;
}

.navbar-nav > li > .dropdown-menu > li > a:hover {
  background: transparent;
  color: #000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  font-weight: bold;
}

.shadow-custom {
  box-shadow: 3px 3px 5px #888888;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

/* List */

.sidebar {
  font-family: 'Roboto Slab', serif;
  color: #555;
}

.no-style {
  list-style: none;
  padding: 0;
}

.sidebar-style {
  list-style: none;
  padding: 40px 0 40px 0;
}

.sidebar-style a:hover {
  color: #000;
  text-decoration: none;
}

.sidebar-style li {
  border-bottom: solid 2px #936A4A;
  margin-bottom: 10px;
}

.sidebar-style-child {
  list-style: none;
  padding-left: 20px;
}

.span-size-sm {
  font-size: 12px;
}

/* Text Align */

.text-align-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Container */

.container {}

/* Content */

#content {
  padding-bottom: 20px;
}

.title-section {
  color: #936A4A;
  margin-bottom: 15px;
}

.col-md-8 hr, .col-md-6 hr {
  border-color: #000;
  margin-top: 0;
}

.news-column {
  font-size: 12px;
  margin-bottom: 10px;
  font-family: "Times New Roman";
}

.date-content, .title-content {
  display:inline;
  font-size: 12px;
  font-weight: bold;
}

.date-content {
  color: #CC3300
}

.title-content {
  font-size: 13px;
}

.date-content:after {
  content: "\a";
  white-space: pre;
}

.news-content {
  margin-bottom: 15px;
}

.title-content:after {
  content: "\a\a";
  white-space: pre;
}

.separator-custom {
  border: solid 1px #000;
  width: 25%;
}

/* Footer */

.footer-custom {
  border-top: 2px solid;
  width:100%;
  height:20px;
  position:absolute;
  bottom:0;
  left:0;
}

.footer-title {
  display:inline;
  font-size: 12px;
  font-weight: bold;
}

.footer-title:after {
  content: "\a";
  white-space: pre;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

/* Clear float */

.float-clear {
  clear: both;
}

/* Panel Body */

.panel-custom-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: -webkit-linear-gradient(#F5FFFA, #FFF5EE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F5FFFA, #FFF5EE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F5FFFA, #FFF5EE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F5FFFA, #FFF5EE); /* Standard syntax (must be last) */
}

.panel-custom-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: -webkit-linear-gradient(#FFF5EE, #F5F5DC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF5EE, #F5F5DC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF5EE, #F5F5DC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF5EE, #F5F5DC); /* Standard syntax (must be last) */
}